%h3 Frequently Asked Questions

%h5
  %b What areas do you serve?

%p Primarily, we serve San Francisco. If you live outside the city, but are able to provide transportation to the job site, we'd love to hear from you.

%h5
  %b Do you provide all the necessary insurance?

%p No, SF Worker's Collective is a non-profit that helps connect workers with employers. The employment relationship is between the employer and worker. Check your homeowner's or renter's insurance for coverage.

%h5
  %b What if the job requires tools or a truck?

%p We can send a worker with the required tools or truck to give you an estimate. Those jobs do not fall into the set rate.

%h5
  %b What forms of payment do the workers accept?

%p The workers prefer to be paid in cash after the job is completed. No credit cards or personal checks.

%h5
  %b What languages do the workers speak?

%p We have workers who are fluent in English and Spanish. If you have a language preference, just let us know.

%h5
  %b What types of jobs can your members do?

%p Our members have experience as movers, painters, gardeners, construction workers, plumbers, electricians, busyboys, waiters, set-up workers for events, and janitors. If you have a job not included in this list, please give us a call and we may be able to find someone to suit your needs.
%h5
  %b What if I'm not satisfied with the job completed?

%p We value your feedback and would like to hear about your experience. We are constantly trying to give better services.

%h5
  %b Do the workers accept gratiuities?

%p Yes, but they do not expect them.