%div.col-lg-6
  %h4 How to Hire
  %h5
    %b 1. Arrange
  %p Arrange by phone or online to specify the type of work,day and time, etc
  %h5
    %b 2. Instruct
  %p Once the worker arrives go over the specifics of the job.
  %h5
    %b 3. Pay
  %p After the job is completed, pay the worker directly perferrably in cash.*
  %p *The rate for general labor is $50 the first three hours and $15 every hour after. The rate for a worker with tools and/or truck depends on the job. In these cases, we can send a worker to do an estimate.
  %p Click the button below to hire online or call (415)252-5375.
  %p If you call during office hours we can dispatch a worker with as little as an hours' notice. Workers are available 7 days a week, at all hours.
  %button
    =link_to "Post a New Job", new_job_path

%img.col-lg-6.profilepic(src="https://s3-us-west-2.amazonaws.com/sfdlp/jose.jpg" alt="jose")