#ui-datepicker-div{
  background-color: lightgrey;
  opacity:.95;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#logo{
  height: 45px;
  width:auto;
  border:1px solid;
  background-color: white;
}

#logomain{
  height:200px;
  width:200px;
}

#map {
  height: 400px;
  width: 400px;
  border: 2px solid;

}

#map img {
  max-width: none;
  height: auto;
}

li{
  list-style: none;
}

.profilepic {
height:400px;
width:400px;
}

.jobselect{
  border:1px solid;
  margin-left:1px;
}