%footer.row
  %div.large-12.columns
    %hr
    %div.row
      %div.large-6.columns
        %p SF Day Labor Program Website. All rights reserved
      %div.large-6.columns
        %ul.inline-list.right
          %li
          =link_to("Home", root_path)
          %li
          =link_to("About Us", about_path)
          %li
          =link_to("Contact Us", contact_path)
/donated by Gabe Dominguez