%footer.row
  %div.col-lg-12
    %hr
    %div.row
      %div.col-lg-6
        %p SF Day Labor Program Website. All rights reserved
      %div.col-lg-6
        %ul.inline-list.right
          %li
            =link_to("Home | ", root_path)
          %li
            =link_to("About Us | ", about_path)
          %li
            =link_to("Contact Us", contact_path)
          %li
            =link_to("FAQs", faq_path)
/donated by Gabe Dominguez